<div class="return-home">
    <a href="/dashboard">
        <img src="/images/orange-home.png" alt="">
        <p>završi sesiju učenja</p>
    </a>
</div>
<div class="next-question">
    <a href="/learnSession/<%= dictionaryId %>" style="opacity:0">
        <img src="/images/orange-next.png" alt="">
        <p>sljedeće pitanje</p>
    </a>
</div>