<div id="words" style="all: unset; display: contents">
  <% for (let i = 0; i < users.length; i++) { %>
  <div class="word-add">
    <div class="actual-word"><%= users[i].email %></div>
    <input type="checkbox" name="users" <% if(users[i].is_admin) { %>
    checked <% } %> 
    hx-post="/user/setAdmin/<%= users[i].id %>" 
    hx-trigger="click" 
    hx-target="this"
    hx-swap="outerHTML">
  </div>
  <% } %>
</div>
