<div class="kahoot-card" <% if (correct == true){ %> style="background-color: green" <% }else{ %> style="background-color:red;" <% } %> >
    <div class="kahoot-word"><%= word.foreignWord %></div>
    <div class="kahoot-phrase">HINT: <%= word.foreignDescription %></div>
</div>
