<% if (correct == true){ %>
<p class="answer" style="color: green">ODGOVOR JE TOČAN</p>
<% }else{ %>
<p class="answer" style="color: red">ODGOVOR JE NETOČAN</p>
<% } %>
<p class="word">POSLUŠANA RIJEČ: <%= word.foreignWord %></p>
