@import url('https://fonts.cdnfonts.com/css/oswald-4');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald Regular', 'Poppins', sans-serif;
}

.flex {
  display: flex;
  align-items: center;
}

.button-cont {
    display: flex;
    justify-content: space-evenly;
}

.button-container {

            text-align: center;
        }

        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #2EC4B6;
            color: #fff;
            border: none;
            border-radius: 49px;
            cursor: pointer;
            margin: 10px;
            margin-top: 10px;
            font-size: 18px;
            width: 200px;
        }

        .button-label {
            font-size: 16px;
            text-align: center;
            font-weight: 800;
        }

        /* Add this CSS to make buttons side by side */
        .button-container {
            display: inline-block;
            vertical-align: top;
        }

.container {
  padding: 0 15px;
  min-height: 100vh;
  justify-content: space-around;
  background: #FF9F1C;
}

.login-page {
  justify-content: space-around;
  max-width: 70%;
  min-height: 600px;
  border-radius: 55px;
  background-color: #FFFFFF;
  box-shadow: 15px 15px 10px rgba(0, 0 , 0, 0.1);
  padding: 20px;
}

.login-page .text {
  margin-top: 0;
}

.text{
  text-align: center;
}

.login-page h1 {
  color: #000000;
  display: inline;
  font-size: 2.4rem;
  margin-bottom: 10px;
}

.login-page p {
  font-size: 1.4rem;
}

.logo img{
  max-width: 10%;
}

.logo {
  width: 100px; /* Adjust the width of the logo */
  display: inline;
  vertical-align: middle;
}

.project-name {
    text-align: center;
  height: 22%;
  top: 0px;
  font-size: 45px;
  margin-top: 10px;
  font-weight: 600;
}

.image-bottom{
  max-width: 100%;
  text-align: center;
}

.image-bottom img{
  max-width: 100%;
}

.image-bottom svg{
  max-width: 60%;
    height: 200px;
}


form {
  display: flex;
  flex-direction: column;
 
  padding: 20px;
  
  max-width: 450px;
  width: 100%;
}

form input {
  height: 55px;
  width: 100%;
  border: 1px;
  border-radius: 50px;
  margin-bottom: 15px;
  font-size: 1rem;
  padding: 0 14px;
  background-color: rgb(251, 201, 135);
}

form input:focus {
  outline: none;
  border-color: #1877f2;
}

::placeholder {
  color: #777;
  font-size: 1.063rem;
}

.link {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.link .login {
  border: none;
  outline: none;
  cursor: pointer;
  background: #2EC4B6;
  padding: 15px 0;
  border-radius: 50px;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  transition: 0.2s ease;
}

.link .login:hover {
  background: #2EC4B6;
}

.link h3{
  margin-top: 7%;
}

form a {
  text-decoration: none;
}

.link .forgot {
  color: #1877f2;
  font-size: 0.875rem;
}

.link .forgot:hover {
  text-decoration: underline;
}

hr {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin-bottom: 20px;
  margin-top: 20px;
}

.button {
  margin-top: 5px;
  text-align: center;
  margin-bottom: 20px;
}

.button a {
  padding: 15px 20px;
  background: #42b72a;
  border-radius: 6px;
  color: #fff;
  font-size: 1.063rem;
  font-weight: 600;
  transition: 0.2s ease;
}

.button a:hover {
  background: #3ba626;
}

form label {
  font-size: 1.3rem;
  color: #000;
  margin-bottom: 5px;
  margin-left: 3%;
}

.forgot {
  color: #FF9F1C;
  font-size: 1rem;
  text-decoration: none;
  margin-bottom: 3%;
  margin-left: 75%;
}

.forgot:hover {
  text-decoration: none;
}

.register {
  color: #FF9F1C;
  font-size: 1.0rem;
  text-decoration: none;
}

.register:hover {
  text-decoration:underline;
}

.button-container button{
  transition: all 0.2s;
}

.button-container button:hover{
  filter: brightness(1.05);
}

@media (max-width: 910px) {
  .login-page {
    flex-direction: column;
    text-align: center;
  }

  .login-page .text {
    margin-bottom: 30px;
  }

  .login-page p{
    font-size: 1.2rem;
  }

  .button-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .project-name{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .logo img{
    transform: scale(6);
  }

  .login-page{
    max-width: none;
  }

}

@media (max-width: 460px) {

  .login-page p {
    font-size: 1.3rem;
  }

  form {
    padding: 15px;
  }


}