@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald Regular', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .navbar, .footer {
    height: 7%; /* 5% for the navbar and 5% for the footer */
    background-color: #ffffff; /* Adjust the background color as needed */
    color: #fff; /* Adjust the text color as needed */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .navbar-left, .navbar-right, .footer-left, .footer-right {
    display: flex;
    align-items: center;
  }
  
  .navbar img, .footer img {
    margin: 0 10px;
  }

  .navbar-left img{
    margin-bottom: 5px;
    max-width: 320px;
  }

  .navbar img{
    cursor: pointer;
  }

  .navbar img:hover{
    filter: brightness(1.05);
  }

  .navbar-right img{
    max-width: 50px;
  }

  .footer-left {
    font-size: 13px;
    margin-left: 15px;
    display: inline-block;
    color: black;
  }

  .footer-right svg{
    margin-bottom: 20px;
    max-width: 300px;
    max-height: 60px;
  }

  .main {
    min-height: 84%; /* The main content takes the remaining 90% of the height */
    padding: 20px;
    background-color: #ffecd3; /* Adjust the background color as needed */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .flex-container{
    align-items: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .flex-container .home-image{
    width: 60px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.2s;
  }

  .word-edit-top{
    width: 80%;
  }

  .home-image:hover{
    filter: brightness(1.05);

  }

  .flex-container .two-aliens{
    width: 300px;
    margin-top: 30px;
  }
/* Style the select element */
.select {
  width: 90%; /* Adjust as needed */
  padding: 8px; /* Adjust as needed */
  border: 1px solid #ccc; /* Adjust as needed */
  border-radius: 50px; /* Adjust as needed */
  box-sizing: border-box;
  background-color: #ffb145;
  height: 50px;
}

/* Style selected option */
.select option[selected] {
  background-color: #e0e0e0; /* Adjust as needed */
}
  .language-add{
    height: 50px;
    width: 100%;
    margin:20px;
    margin-bottom: 5px;
    background-color: #ffffff;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s;
    cursor: pointer;
  }

  .language-add img{
    height: 35px;
    margin-right: 10px;
  }

  .language-add:hover{
    color: #ffffff;
    background-color: #ff9f1c;
  }

  .language-add:hover img{
    filter:invert(1);
  }

  .language-name{
    margin-left: 20px;
    font-weight: bold;
    font-size: 1.2rem;
  }

  hr{
    background-color: #ff9f1c;
    border: 1px solid #ff9f1c;
    margin: 0;
  }

  /*Odi pocinje dio za dodavanje rijeci u rijecnik */

  .language-title{
    font-size: 1.5rem;
    margin-top: 30px;
    font-weight: bolder;
    text-align: center;
  }

  .title-word{
    color: #ff9f1c;
    font-weight: bold;
  }

  .word-add{
    height: 50px;
    width: 100%;
    margin:20px;
    margin-bottom: 5px;
    background-color: #ffffff;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s;
    cursor: pointer;
  }

  .word-search-image{
    width: 40px;
    position:absolute;
    top: 82px;
    left: 93%;
    cursor: pointer;
  }

  .word-search-image:hover{
    animation: shake 0.5s;
  }

  .word-search{
    height: 50px;
    width: 101%;
    margin:20px;
    margin-bottom: 5px;
    background-color: #cbf3f0;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s;
    cursor: pointer;
    border: none;
    font: inherit;
    padding-left: 10px;
  }

  .word-search::placeholder{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
  }

  .word-search:focus::placeholder{
    color: #ffffff;
  }

  .word-search:focus{
    background-color: #2ec4b6;
    color: #ffffff;
  }

  .actual-word{
    font-weight: bold;
    margin-left: 20px;
  }

  .word-buttons{
    display: flex;
    align-items: center;
  
  }

  .word-buttons img{
    transition: all 0.2s;
    width: 40px;
    margin-right: 10px;
  }

  .word-buttons .edit-button:hover{
    animation: shake 0.5s;
  }

  .add-button:hover{
    filter: invert(0.3);
    transform: scale(1.05);
  }


    /*Odi pocinje dio za editanje rijeci */

    .word-edit{
      height: 50px;
      width: 90%;
      margin: 5px;
      margin-bottom: 10px;
      background-color: #ffffff;
      border-radius: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 0.2s;
      cursor: pointer;
      border: none;
      padding-left: 20px;
      background-color: #ffb145;
    }

    .word-edit::placeholder{
      font-size: 1.2rem;
      align-self: center;
      margin: 0;
      color: #ffffff;
    }

    .word-edit-label{
      margin-right: 0%;
      font: inherit;
    }
    .word-edit:focus{
      background-color: #ffcb83;
    }

    .word-edit-container{
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: 20px;
    }

    .word-edit-container{
      position: relative;
    }

    .word-edit-container .img-container{
      position: absolute;
      top: 28px;
      left: 98%;
      min-width: 85px;

    }

    .img-container img{
      width: 40px;
      cursor: pointer;
      transition: all 0.2s;
    }

    .img-container img:hover{
      filter: invert(0.5);
    }

    .save-changes{
      margin-top: 30px;
      background-color: #2ec4b6;
      color: #ffffff;
      padding: 12px 40px;
      border: none;
      border-radius: 20px;
      font-weight: bold;
      transition: all 0.2s;
      cursor: pointer;
    }

    .save-changes:hover{
      filter: brightness(1.05);
      text-shadow: white 1px 0 10px;
      padding: 12px 50px;
    }

    .save-changes-container{
      position: relative;
    }

    /*namijenjeno za warning sliku ako dodamo*/
    .save-changes-container img{
      position: absolute;
      top: 32%;
      left: 110%;
      width: 50px
    }

    /* ODI POCINJE ZA EDIT PROFILE*/

    .flex-container h1{
      font-size: 1.8rem;
      min-width: 200px;
      margin: 0;
      font-weight: 800;
      font-family: 'Poppins', sans-serif;
    }

    .profile-img{
      margin-top: 30px;
      margin-bottom: 40px;
      width: 55%;
    }

    .profile-container{
      width: 30%;
    }

    .profile-container .save-changes-container{
      display: flex;
      justify-content: center;
      width: 100%;
      align-items: center;
    }

    .profile-container .save-changes-container .save-changes{
      width: 90%;
      padding: 14px 40px;
      margin: 0;
      font-size: 1rem;
      border-radius: 50px;
      font-family: 'Poppins', sans-serif;
      margin-bottom: 20px;
    }

    .flex-container.profile-container p a {
      text-decoration: none;
      color: #ff9f1c;
      min-width: 100px;
    }

    .flex-container.profile-container p a:hover {
      text-decoration: underline;
    }

    .profile-container .save-changes-container img{
      position: absolute;
      top: 0%;
      left: 100%;
      width: 50px
    }


  @media(max-width: 1277px){
    .word-search-image{
      left: 90%;
    }
    .word-edit-label{
      margin-right: 0%;
    }
  }

  .profile-container{
    width: 40%;
  }

  @media(max-width: 885px){
    .word-search-image{
      left: 85%;
    }
    .word-edit-label{
      margin-right: 0%;
    }

    .word-edit::placeholder{
      font-size: 1rem;
    }

    .profile-container .save-changes-container .save-changes{
      width: 90%;
      padding: 14px 40px;
      margin: 0;
      margin-bottom: 20px;
      font-size: 0.8rem;
      border-radius: 50px;
      font-family: 'Poppins', sans-serif;
    }

    .profile-container{
      width: 55%;
    }
  }

  @media (max-width: 580px) {

    .footer-left {
        display: none;
        font-size: 7px;
        margin-left: 15px;
        display: inline-block;
        color: black;
      }

      .footer-right svg{
        margin-bottom: 20px;
        max-width: 200px;
        max-height: 60px;
      }

      .navbar-right img{
        max-width: 40px;
      }
    

      .navbar-left img{
        margin-bottom: 5px;
        max-width: 150px;
      }

    
      .flex-container{
        width: 80%;
      }

      .img-container img{
        width: 30px;
      }

      .word-edit-container .img-container{
        position: absolute;
        top: 32px;
        left: 98%;
        min-width: 65px;
  
      }


  }

  @media(max-width: 400px){
    .word-search-image{
      left: 80%;
    }

    .word-edit-label{
      margin-right: 0%;
    }

    .word-edit::placeholder{
      font-size: 0.8rem;
    }

    .img-container img{
      width: 20px;
    }

    .word-edit-container .img-container{
      position: absolute;
      top: 37px;
      left: 98%;
      min-width: 45px;

    }

    .save-changes-container img{
      position: absolute;
      top: 46%;
      left: 105%;
      width: 30px
    }
  }


  @keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-10deg); }
    50% { transform: rotate(10deg); }
    75% { transform: rotate(-10deg); }
    100% { transform: rotate(0deg); }
}