<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="keywords" content="">
        <title>BalkanLingo</title>
        <link rel="stylesheet" href="/css/addDic.css">
    </head>
    <body>
        <!-- Navbar -->
        <% include partials/navbar.ejs %>
        <hr>
        <div class="main">
            <div class="flex-container">
                <img class="two-aliens" src="/images/two-aliens-deciding.svg" alt="">
                <% for (let i = 0; i < dictionaries.length; i++) { %>
                <div class="language-add" onclick="location.href='/dictionary/addDictionaryToUser/<%= dictionaries[i].id%>';">
                    <div class="language-name"><%= dictionaries[i].name %></div>
                  <img src="/images/black-add.png" alt="">
                </div>
                <% } %>
            </div>
        </div>
        <hr>
        <!-- Footer -->
        <% include partials/footer.ejs %>
    </body>
</html>