<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="keywords" content="">
        <title>BalkanLingo</title>
        <link rel="stylesheet" href="/css/addDic.css">
    </head>
    <body>
        <!-- Navbar -->
        <% include partials/navbar.ejs %>
        <hr>
        <div class="main">
            <div class="flex-container">
                <h2 class="language-title"><%= dictionary.name %></h2>
                <input class="word-search" type="text" placeholder="Pretrazi strane rijeci...">
                <img class="word-search-image" src="/images/white-search.png" alt="">
                <% for (let i = 0; i < words.length; i++) { %>
                    <div class="word-add">
                        <div class="actual-word"><%= words[i].foreignWord %> </div>
                        <div class="word-buttons">
                            <img  class="edit-button" src="/images/blue-edit.png" alt="">
                            <img class="add-button" src="/images/black-add.png" alt="">
                        </div>
                    </div>
                <% } %>
                <a href="/"><img  class="home-image" src="/images/orange-home.png" alt=""></a>
            </div>
        </div>
        <hr>
        
        <% include partials/footer.ejs %>
    </body>
</html>