<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="keywords" content="">
        <title>BalkanLingo</title>
        <link rel="stylesheet" href="/css/addDic.css">
    </head>
    <body>
        <!-- Navbar -->
        <% include partials/navbar.ejs %>
        <hr>
        <div class="main">
            <div class="flex-container profile-container">
                <h2 class="language-title">UREĐIVANJE RJEČNIKA</h2>
                <br>

                <form class="word-edit-top" action="/admin/addDictionary" method="POST">
                    <div class="word-edit-container">
                        <label for="name" class="word-edit-label ">IME</label>
                        <input class="word-edit" type="text" id="name" name="name" placeholder='"ENGLESKI"'>
                    </div>
                    <div class="word-edit-container">
                        <label for="shortName" class="word-edit-label ">KRATICA</label>
                        <input class="word-edit" type="text" id="shortName" name="shortName" placeholder='"EN"'>
                    </div>
                    <div class="word-edit-container">
                        <label for="mainPage" class="word-edit-label ">NASLOVNICA</label>
                        <input class="word-edit" type="text" id="mainPage" name="mainPage" placeholder='"https://www..."'>
                    </div>
                    <div class="word-edit-container">
                        <label for="icon" class="word-edit-label ">IKONA</label>
                        <input class="word-edit" type="text" id="name" name="icon" placeholder='":FLAG_GB:"'>
                    </div>
                    <div class="word-edit-container">
                        <label for="description" class="word-edit-label">OPIS</label>
                        <input class="word-edit" type="text" id="description" name="description" placeholder='"ENGLESKI RJEČNIK"'>
                    </div>
                    <div class="save-changes-container">
                        <button class="save-changes" type="submit">AŽURIRAJ RJEČNIK</button>
                        <img src="/images/blue-warning.png" alt="">
                    </div>
                </form>
            </div>
        </div>
        <hr>
        <% include partials/footer.ejs %>
    </body>
</html>