<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="keywords" content="">
        <title>BalkanLingo</title>
        <link rel="stylesheet" href="/css/addDic.css">
    </head>
    <body>
        <% include partials/navbar.ejs %>
        <hr>
        <div class="main">
            <div class="flex-container">
                <div class="language-title">FRANCUSKI</div>
                <div class="language-title title-word">RIJEČ</div>
                <div class="word-edit-container">
                    <label for="home" class="word-edit-label">DOMAĆA RIJEČ</label>
                    <input class="word-edit" type="text" id="home" name="home" placeholder="Riječ">
                </div>
                <div class="word-edit-container">
                    <label for="home" class="word-edit-label word-edit-phrase">DOMAĆA FRAZA</label>
                    <input class="word-edit" type="text" id="home" name="home" placeholder="Naučio sam ovu riječ">
                    <div class="img-container">
                        <img src="/images/black-add.png" alt="">
                        <img src="/images/black-remove.png" alt="">
                    </div>
                </div>
                <div class="word-edit-container">
                    <label for="home" class="word-edit-label ">STRANA RIJEČ</label>
                    <input class="word-edit" type="text" id="home" name="home" placeholder="Word">
                </div>
                <div class="word-edit-container">
                    <label for="home" class="word-edit-label word-edit-phrase">STRANA FRAZA</label>
                    <input class="word-edit" type="text" id="home" name="home" placeholder="I've learned a new word!">
                    <div class="img-container">
                        <img src="/images/black-add.png" alt="">
                        <img src="/images/black-remove.png" alt="">
                    </div>
                </div>
                <div class="word-edit-container">
                    <label for="home" class="word-edit-label">AUDIOZAPIS</label>
                    <input class="word-edit" type="text" id="home" name="home" placeholder="word.mp3">
                    <div class="img-container">
                        <img src="/images/black-upload.png" alt="">
                    </div>
                </div>
                <div class="save-changes-container">
                    <button class="save-changes">SPREMI PROMJENE</button>
                    <img src="/images/blue-warning.png" alt="">
                </div>
            </div>
        </div>
        <hr>
        
        <% include partials/footer.ejs %>
    </body>
</html>