<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="keywords" content="">
        <title>404</title>
        <link rel="stylesheet" href="/css/forOFor.css">
        <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <!-- Navbar -->
    <% include partials/navbar.ejs %>
    <div class="main-content">
        <h1>404</h1>
        <img src="/images/orange-user.png" alt="">
        <p>Došlo je do "errorText".<br>Oprostite na neugodnosti.</p>
        <a href="/dashboard">Povratak na početnu stranicu</a>
    </div>
    <div class="footer">
        <div class="footer-left">
            <div><b>BALKANLIN<span style="color: #FF9F1C;">GO!</span></b> je izrađen u sklopu timskog projekta za kolegij</div>
            <div>Programsko inženjerstvo. <b>Sva prava pridržana.</b></div>
        </div>
        <% include partials/footer.ejs %>
</body>
</html>