<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="keywords" content="">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <title>BalkanLingo</title>
        <link rel="stylesheet" href="/css/learnSes.css">
    </head>
    <body>
        <!-- Navbar -->
        <% include partials/navbar.ejs %>
        <div class="main">
            <div class="button-container">
                <a href="/dashboard">
                    <img src="/images/orange-home.png" alt="">
                    <p>završi sesiju ucenja</p>
                </a>
            </div>
            <% include partials/word.ejs %>
            <div class="button-container">
                <a href="/dictionary/nextQuestion/<%= dictionaryId %>">
                    <img src="/images/orange-next.png" alt="">
                    <p>sljedeće pitanje</p>
                </a>
            </div>
        </div>
        <hr>
        <!-- Footer -->
        <% include partials/footer.ejs %>
    </body>
</html>